<section class="container">
  <a href="/home" class="btn">Back To Posts</a>
  <div class="post bg-white p-1 my-1">
    <div>
      <a href="<%= "/user/"+post.user %>">
        <img crossorigin="anonymous" class="round-img" src="<%= post.avatar%>" alt="" />
        <h4><%= post.name%></h4>
      </a>
    </div>
    <div>
      <p class="my-1"><%- post.text%></p>
    </div>
  </div>

  <div class="post-form">
    <div class="bg-primary p">
      <h3>Leave A Comment</h3>
    </div>
    <form class="form my-1">
      <textarea
        name="text"
        cols="30"
        rows="5"
        placeholder="Comment on this post"
        required
        id="txtCmt"
      ></textarea>
      <input
        type="button"
        class="btn btn-dark my-1"
        value="Submit"
        id="btnSubmitCmt"
        data-id="<%= post._id %> "
      />
    </form>
  </div>

  <div class="comments">
    <% if(post.comments){%> <% post.comments.forEach((cmt) =>{ %>
    <div class="post bg-white p-1 my-1">
      <div>
        <a href="<%= "/user/"+cmt.user %>">
          <img crossorigin="anonymous" class="round-img" src="<%= cmt.avatar%>" alt="" />
          <h4><%= cmt.name%></h4>
        </a>
      </div>
      <div>
        <p class="my-1"><%- cmt.text%></p>
        <p class="post-date">
          Posted on <%= (cmt.date.getMonth()+1).toString().padStart(2,
          '0')%>/<%=cmt.date.getDate()%>/<%=cmt.date.getFullYear()%>
        </p>
        <% if (cmt.user.toString() === locals.user.id.toString()) { %>
        <button
          type="button"
          class="btn btn-primary open-cmtmodal"
          data-id="<%=cmt._id%>"
          data-name="<%=cmt.name%>"
          data-text="<%=cmt.text%>"
          data-cmtid="<%=post._id%>"
        >
          <i class="fas fa-edit"></i>
        </button>
        
        <button
          type="button"
          data-id="<%=cmt._id%>"
          class="btn btn-danger btnDeleteCmt"
        >
          <i class="fas fa-times"></i>
        </button>
        <% } %>
      </div>
    </div>
    <% }) %> <%}%>
  </div>
</section>
