<section class="container">
  <h1 class="large text-primary">Developers</h1>
  <p class="lead">
    <i class="fab fa-connectdevelop"></i> Browse and connect with developers
  </p>
  <div class="profiles">
    <% profiles.forEach(p => { %>
    <div class="profile bg-light">
      <img crossorigin="anonymous" class="round-img" src="<%= p.user.avatar%>" alt="" />
      <div>
        <h2><%= p.user.name%></h2>
        <p><%= p.status %> at <%= p.company %></p>
        <p><%= p.location %></p>
        <a href="<%= "/user/"+p.user.id %> " class="btn btn-primary">View Profile</a>
      </div>

      <ul>
        <% p.skills.forEach(skill => { %>
        <li class="text-primary"><i class="fas fa-check"></i> <%= skill %></li>

        <% }) %>
        <!-- <li class="text-primary"><i class="fas fa-check"></i> CSS</li>
        <li class="text-primary"><i class="fas fa-check"></i> JavaScript</li>
        <li class="text-primary"><i class="fas fa-check"></i> Python</li>
        <li class="text-primary"><i class="fas fa-check"></i> C#</li> -->
      </ul>
    </div>
    <% }); %>
  </div>
</section>
